@import '@styles/variables.scss';

// https://www.sliderrevolution.com/resources/css-button-hover-effects/

.shrink-border {
  position: relative;
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  padding: 23px 33px;
  border: 3px solid transparent;
  text-decoration: none;
  margin-right: 20px;

  &:active {
    transform: translateY(3px);
  }

  &::after,
  &::before {
    border-radius: 3px;
  }
  background-color: transparent;
  color: darken($white, 10%);

  &:hover {
    background-color: transparent;
    box-shadow: none;
    color: $blue;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid darken($white, 10%);
    transition: opacity 0.3s, border 0.3s;
  }

  &:hover::before {
    opacity: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid $blue;
    opacity: 0;
    z-index: -1;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}
