@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.navigation {
  position: fixed;
  top: 0;
  right: 30px;
  z-index: 100;

  ul {
    margin: 50px 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    li {
      font-size: 14px;
      margin: 0 20px;
      padding: 10px 0;
      transition: all 0.2s;
      &:hover {
        transition: all 0.2s;
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  @media (max-width: 800px) {
    animation: fadeIn 0.3s linear;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid white;
    ul {
      justify-content: space-around;
      width: 100%;
      flex-direction: column;
      height: 100%;
      li {
        margin: 0;
        transform: rotate(0deg);
        text-shadow: 2px 2px 3px #000;
        z-index: 201;
        font-size: 24px;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          transition: none;
          transform: rotate(0);
        }
        &:nth-of-type(1) {
          background-color: $lightRed;
        }
        &:nth-of-type(2) {
          background-color: $lightGrey;
        }
        &:nth-of-type(3) {
          background-color: $lightPurple;
        }
        &:nth-of-type(4) {
          background-color: $lightGreen;
        }
        &:nth-of-type(5) {
          background-color: $lightBlue;
        }
      }
    }
  }
  .nav-line {
    position: absolute;
    left: 19px;
    top: 0;
    height: 2px;
    width: 45px;
    background-color: $white;
    transition: all 0.2s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
