@import '@styles/global.scss';

.portfolio {
  &.outer-container {
    background-color: $darkYellow;

    .inner-container {
      box-shadow: 15px 13px 45.5px 4.5px $shadowYellow;
      background-color: $lightYellow;
      background-image: url('https://orry-mevorach.s3.ca-central-1.amazonaws.com/yellow-dot-graphics.png');
      display: flex;
      justify-content: center;
      align-items: center;
      nav a {
        color: $white;
        text-shadow: 3px 3px 3px $shadowYellow;
      }
      @media (max-width: 700px) {
        background-image: url('https://orry-mevorach.s3.ca-central-1.amazonaws.com/yellow-dot-graphics-copy.png');
        box-shadow: none;
      }
    }

    h2 {
      color: $white;
      text-shadow: 3px 3px 3px $shadowYellow;
      position: absolute;
      top: 5%;
      left: 5%;
    }

    .see-projects {
      text-decoration: none;
      color: $white;
      text-shadow: 3px 3px 3px $shadowYellow;
      font-size: 30px;
    }
  }
}
