@use '@variables' as variables;

.button {
  // https://www.sliderrevolution.com/resources/css-button-hover-effects/
  &.shrink-border {
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 10px;
    padding: 18px 25px;
    border: 3px solid transparent;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;

    &:active {
      transform: translateY(3px);
    }

    &::after,
    &::before {
      border-radius: 3px;
    }
    background-color: transparent;
    color: darken(variables.$white, 10%);

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: variables.$blue;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid darken(variables.$white, 10%);
      transition: opacity 0.3s, border 0.3s;
    }

    &:hover::before {
      opacity: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 3px solid variables.$blue;
      opacity: 0;
      z-index: -1;
      transform: scaleX(1.1) scaleY(1.3);
      transition: transform 0.3s, opacity 0.3s;
    }

    &:hover::after {
      opacity: 1;
      transform: scaleX(1) scaleY(1);
    }
  }

  &.secondary {
    height: 43px;
    border-radius: 4px;
    border: 1px solid variables.$white;
    background-color: variables.$white;
    color: variables.$spacePurple;
    padding: 0 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
    margin: 30px 0 0 0;
    &:hover {
      background-color: variables.$spacePurple;
      color: variables.$white;
      border: 1px solid white;
    }
    &:after,
    &:before {
      display: none;
    }
  }
}
