@import '@styles/global.scss';

.home {
  .inner-container {
    @media (max-width: 650px) {
      background-image: url('https://orry-mevorach.s3.ca-central-1.amazonaws.com/backgrounds/red-dot-graphics-copy.png');
      box-shadow: none;
    }
  }

  .content-container {
    position: relative;
    width: 473px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 650px) {
      width: 370px;
    }
    @media (max-width: 400px) {
      width: 287px;
    }
  }

  .heading {
    color: $white;
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    text-shadow: 4px 12px 3px rgb(175, 4, 41);
    position: absolute;
    margin: 0;
    top: 0;
    width: 473px;
    @media (max-width: 650px) {
      font-size: 55px;
      width: 370px;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: 400px) {
      font-size: 40px;
      width: 287px;
    }
  }

  .job-title {
    text-transform: uppercase;
    text-shadow: 4px 5px 3px rgb(175, 4, 41);
    position: absolute;
    top: 88px;
    left: 220px;
    width: 240px;
    color: white;
    font-size: 16px;
    margin: 10px 0 0;
    @media (max-width: 650px) {
      top: 80px;
      left: 110px;
    }
    @media (max-width: 400px) {
      font-size: 14px;
      top: 65px;
      left: 63px;
    }
  }

  // Navigation Customization

  nav li {
    text-shadow: 3px 3px 3px rgb(122, 2, 28);
  }

  // Icon Customization
}
