@import '@styles/global.scss';
@import '@styles/mixins.scss';
@import '@styles/animations.scss';

.home {
  @include sectionTheme($innerContainer: $charcoal);

  &.section-container {
    @media (max-width: 650px) {
      box-shadow: none;
    }
  }

  .content-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .text-container {
    position: relative;
  }

  .heading {
    color: $white;
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    text-shadow: 4px 8px 1px rgba(255, 255, 255, 0.2);
    @media (max-width: 650px) {
      font-size: 55px;
    }
    @media (max-width: 400px) {
      font-size: 40px;
    }
  }

  .job-title {
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-size: 16px;
    padding-top: 80px;
  }

  .chevron-link {
    position: absolute;
    bottom: 40px;
    z-index: 101;
    animation: bounce 0.8s infinite ease;
    .fa-chevron-down {
      font-size: 60px;
      color: $white;
    }
  }
}
