@import './variables.scss';
@import './typography.scss';
@import './setup.scss';

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
