@import '@styles/variables.scss';

@mixin themedLine($lineColor: $white, $left: '0px') {
  position: absolute;
  left: $left;
  height: 30px;
  width: 2px;
  background-color: $lineColor;
  transition: all 0.2s;
  &:hover {
    transform: rotate(90deg);
  }
}

@mixin themedIcons($primary, $secondary: $white) {
  .linked-in-icon,
  .email-icon {
    svg {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }

  .icon-circle {
    background-color: $secondary;
    &:hover {
      background-color: $primary;
    }
  }

  .git-icon {
    &:after {
      background-color: $primary;
    }
    svg:hover {
      color: $primary;
    }
    svg {
      color: $secondary;
    }
    &:hover:after {
      background-color: $secondary;
    }
  }
}

@mixin sectionTheme($outerContainer: '', $innerContainer: '', $boxShadow: '') {
  background-color: $innerContainer;
  box-shadow: $boxShadow;
}
