@import '@styles/variables.scss';

@mixin themedIcons($primary, $secondary: $white) {
  .linked-in-icon,
  .email-icon {
    svg {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }

  .icon-circle {
    background-color: $secondary;
    &:hover {
      background-color: $primary;
    }
  }

  .git-icon {
    &:after {
      background-color: $primary;
    }
    svg:hover {
      color: $primary;
    }
    svg {
      color: $secondary;
    }
    &:hover:after {
      background-color: $secondary;
    }
  }
}

@mixin sectionTheme($outerContainer: '', $innerContainer: '', $boxShadow: '') {
  background-color: $innerContainer;
  box-shadow: $boxShadow;
}

@mixin border($color: $blue, $position: 'top') {
  border-#{$position}: 7px solid $color;
}
