@import '@styles/variables.scss';

h1 {
  color: $white;
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  margin: 0;
}

h2 {
  color: $white;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  margin: 0;
}

h3 {
  color: white;
  font-size: 16px;
  margin: 0;
}
