$darkRed: rgb(232, 16, 63);
$lightRed: rgb(236, 22, 69);
$darkPurple: rgb(113, 52, 219);
$lightPurple: rgb(117, 51, 231);
$darkBlue: rgb(35, 111, 255);
$lightBlue: #3679f8;
$lightGrey: rgb(236, 236, 236);
$darkGrey: rgb(199, 198, 198);
$lightYellow: rgb(253, 208, 80);
$darkYellow: rgb(251, 202, 61);
$shadowYellow: rgb(209, 155, 7);
$white: #ffffff;
$spacePurple: #140e1a;
$charcoal: #2f2f2f;
$lightGreen: #4dd846;
$darkGreen: #49cc42;
$shadowGreen: #4da247;
$pink: #ffa4df;
$blue: #7edaff;
