@import '@styles/variables.scss';

.section-container {
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.section-heading {
  padding: 5% 0 0 5%;
  margin: 0;
}

.removeHeight {
  height: 100%;
}
