.outer-container {
  height: 100vh;
  position: relative;
}

.inner-container {
  background-position: center;
  background-repeat: no-repeat;
  height: 82%;
  width: 90%;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 1300px) {
    width: 85vw;
  }
  @media (max-width: 950px) {
    width: 82vw;
  }

  @media (max-width: 650px) {
    height: 100vh;
    width: 100%;
  }
}
