.section-general {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.section-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 82vh;
    width: 90vw;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    
    @media (max-width: 1300px) {
        width: 85vw;
    }
    @media (max-width: 950px) {
        width: 82vw;
    }
    @media (max-width: 650px) {
        height: 100vh;
        width: 100vw;
    }
}

.section-container nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            font-size: 14px;
            padding: 60px 10px;
            transform: rotate(270deg);
            transition: all 0.2s;
            &:hover {
            transition: all 0.2s;
            transform: rotate(360deg);
            }
            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
.nav-style-line {
    position: absolute;
    left: 30px;
    top: -9vh;
    height: 9vh;
    background: white;
    width: 2px;
    transition: all 0.2s;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    z-index: 20;
    a {
        text-decoration: none;
        color: black;
    }
}

.twitter-container,
.linked-in-container {
    position: relative;
}

.icon-circle {
    background-color: white;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    position: relative;
}

.twitter-icon svg {
    padding: 5px 0 0 4px;
    font-size: 33px;
}

.linked-in-icon svg{
    padding: 0px 0 0 7px;
    font-size: 35px;
}

.git-icon svg {
    font-size: 42px;
}

.git-hub-container,
.twitter-container,
.linked-in-container {
    margin: 10px 0;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 700px) {
    .nav-style-line {
        display: none;
    }
}
@media (max-width: 650px) {
    .section-container nav {
        display: none;
        ul {
            width: 100vw;
            li {
                transform: rotate(0deg);
                text-align: center;
                text-shadow: none;
                a {
                    color: $white;
                }
                &:hover {
                    transform: rotate(0deg);
                }
            }
        } 
    }
    
    .social-media-container {
        display: flex;
        flex-direction: row;
        top: auto;
        transform: none;
        bottom: 5px;
        .git-hub-container,
        .twitter-container,
        .linked-in-container {
            margin: 5px;
        }
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        transition: 0.3s;
        z-index: 200;
        .fa-bars {
            color: white;
            font-size: 40px;
        }
    }
}





