.section-general {
    height: 100vh;
    // width: 100vw;
    position: relative;
}

.section-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 82vh;
    width: 90vw;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    
    @media (max-width: 1300px) {
        width: 85vw;
    }
    @media (max-width: 950px) {
        width: 82vw;
    }
    @media (max-width: 650px) {
        height: 100vh;
        width: 100vw;
    }
}

.responsive-nav-container {
    display: none;
}

.section-container nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            font-size: 14px;
            padding: 60px 10px;
            transform: rotate(270deg);
            transition: all 0.2s;
            &:hover {
            transition: all 0.2s;
            transform: rotate(360deg);
            }
            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
.nav-style-line {
    position: absolute;
    left: 30px;
    top: -9vh;
    height: 9vh;
    background: white;
    width: 2px;
    transition: all 0.2s;
    @media (max-width: 900px) {
        left: 27px;
    }
}

.social-media-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    z-index: 20;
    a {
        text-decoration: none;
        color: black;
    }
}

.twitter-container,
.linked-in-container,
.email-container {
    position: relative;
}

.icon-circle {
    background-color: white;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    position: relative;
}

.twitter-icon svg {
    padding: 5px 0 0 4px;
    font-size: 33px;
}

.linked-in-icon svg{
    padding: 0px 0 0 7px;
    font-size: 35px;
}

.email-icon svg {
    padding: 7px 0 0 6px;
    font-size: 30px;
}

.git-icon svg {
    font-size: 41px;
    @media (max-width: 650px) {
        font-size: 40px;
    }
}

.git-icon:after {
        content: '';
        height: 37px;
        width: 37px;
        position: absolute;
        top: 12px;
        left: 1px;
        border-radius: 50%;
        z-index: -1;
        @media (max-width: 750px) {
            height: 37px;
            width: 37px;
            top: 6px;
            left: 6px;
        }
    }

.git-hub-container,
.twitter-container,
.linked-in-container,
.email-container {
    margin: 10px 0;
}

@media (max-width: 900px) {
    .section-container nav ul li {
        font-size: 12px;
        padding: 40px 10px;
    }
    
}

@media (max-width: 800px) {
    // hiding non-responsive navs
    .section-container nav {
        display: none;
    }
    // displaying responsive-nav-container on screen-shrink
    .responsive-nav-container {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        // background-color: rgba(255,255,255,0.4);
        z-index: 100;
        .responsive-background {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 60px;
            background-color: rgba(255,255,255,0.1);
            border-bottom: 2px solid white;
        }
    }
    
    // styling the nav within the container
    .responsive-nav {
        display: none;
        width: 100vw;
        text-shadow: 2px 2px 3px #000;
        z-index: 201;
        ul {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 85vw;
            li {
                padding: 20px 0;
                a {
                    list-style: none;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    // styling and positiong hamburger menu
    .hamburger-menu {
        width: 10vw;
        transition: 0.1s;
        z-index: 300;
        padding: 7px 0 0 0px;
        position: absolute;
        right: 5px;
        .fa-bars {
            color: white;
            font-size: 40px;
        }
    }

    // hiding the nav-style-line when the screen shrinks
    .nav-style-line {
        display: none;
    }
    
    // relocating social media container
    .social-media-container {
        display: flex;
        flex-direction: row;
        top: auto;
        transform: none;
        bottom: 5px;
        .git-hub-container,
        .twitter-container,
        .linked-in-container,
        .email-container {
            margin: 5px;
        }
    }
}





