.section-skills {
    background-color: $darkPurple;
    
    .section-skills-container {
        background-image: url(../../images/purple-dot-graphics.png);
        background-color: $lightPurple;
        box-shadow: 15px 13px 45.5px 4.5px rgba(68, 11, 166, 0.23);
    }

    h2 {
        text-shadow: 3px 3px 3px rgb(47, 22, 90);
        position: absolute;
        top: 5%;
        left: 5%;
    }

    h3,
    nav a {
        text-shadow: 3px 3px 3px rgb(47, 22, 90);
    }

    .nav-style-line {
        left: 163px;
    }

    .twitter-icon,
    .linked-in-icon, {
        svg {
            color: $darkPurple;
        }
    }

    .git-icon svg {
        color: white;
    }
    
    .twitter-icon svg:hover,
    .linked-in-icon svg:hover {
        color: $white;
    }
    .icon-circle:hover {
        background-color: $darkPurple;
    }
    .git-icon:after {
        content: '';
        background-color: $darkPurple;
        height: 39px;
        width: 39px;
        position: absolute;
        top: 12px;
        left: 1px;
        border-radius: 50%;
        z-index: -1;
    }

    .git-icon svg:hover {
        color: $darkPurple;
    }

    .git-icon:hover:after {
        background-color: $white;
    }

    .skills-icon-container {
        display: flex;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%);
        color: white;
        text-align: center;
        .skills-icon-top-row,
        .skills-icon-bottom-row {
            display: flex;
        }
        .skills-icon-top-row {
            margin-bottom: 50px;
        }
        svg, 
        i {
            font-size: 60px;
            margin: 0 30px;
        }
        #firebase {
            width: 60px;
            height: 60px;
        }
        .bottom-row-icon {
            display: flex;
            flex-direction: column;
        }
    }
    
    @media (max-width: 1400px) {
        .skills-icon-container {
            display: block;
            top: 32%;
            .bottom-row-icon {
                flex-direction: column-reverse;
            }
        }
    }
    @media (max-width: 700px) {
        .section-skills-container {
            background-image: url(../../images/purple-dot-graphics-copy.png);
            box-shadow: none;
        }    
    }

    @media (max-width: 750px) {
        h3 {
            font-size: 14px;
            text-shadow: 1px 1px 1px rgb(47, 22, 90);
        }
        .skills-icon-container {
            svg,
            i {
                font-size: 60px;
                margin: 0 15px;
            }
            #firebase {
                width: 60px;
                height: 60px;
            }
        }
    }

    @media (max-width: 550px) {
        .skills-icon-container {
            svg,
            i {
                font-size: 45px;
                margin: 0 13px;
            }
            #firebase {
                width: 45px;
                height: 45px;
            }
        }
    }
}