.section3 {
    background-color: $darkPurple;
    
    .section-container3 {
        background-image: url(../../images/purple-dot-graphics.png);
        background-size: 150%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $lightPurple;
        box-shadow: 15px 13px 45.5px 4.5px rgba(68, 11, 166, 0.23);
    }

    .twitter-icon,
    .linked-in-icon, {
        svg {
            color: $darkPurple;
        }
    }

    .git-icon svg {
        color: white;
    }
    .content-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
    }

    .headshot-container {
        position: relative;
        top: -40px;
        left: 0;
        & img {
            max-width: 520px;
        }
    }
    

    .text-container {
        position: relative;
        left: 12%;
        top: 50%;
        transform: translateY(-10%);
        max-width: 400px;
        color: white;
        p {
            line-height: 1.6;
        }

    }

}