.section2 {
    background-color: $white;

    .section-container2 {
        box-shadow: 15px 13px 45.5px 4.5px lightgrey;
        overflow: hidden;
    }

    .section-container nav a {
        color: black;
    }

    nav .title-link a {
        color: $darkRed;
    }

    nav .skills-link a {
        color: $darkPurple;
    }

    nav .contact-link a {
        color: $darkBlue;
    }


    
    .nav-style-line {
        background: black;
    }

    .twitter-icon,
    .linked-in-icon, {
        svg {
            color: $white;
        }
    }

    .git-icon svg {
        color: black;
    }

    .icon-circle {
        background-color: black;
    }

    .content-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
    }

    .headshot-container {
        position: relative;
        top: -30px;
        // transform: translateY(-20%);
        left: 0;
        // border: 1px solid lightgrey;
        box-shadow: 0 0 5px lightgrey;
        & img {
            max-width: 450px;
        }
    }
    
    .text-container {
        position: relative;
        left: 12%;
        top: 50%;
        transform: translateY(-10%);
        max-width: 400px;
        p {
            line-height: 1.6;
        }

    }
    
}

