.section5 {
    background-color: $darkBlue;
    
    .section-container5 {
        background-image: url(../../images/blue-dot-graphics.png);
        background-size: 110%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $lightBlue;
        box-shadow: 15px 13px 45.5px 4.5px rgba(11, 86, 228, 0.23);
    }

    .twitter-icon,
    .linked-in-icon, {
        svg {
            color: $darkBlue;
        }
    }

    .git-icon svg {
        color: white;
    }
}