$darkRed: rgb(232, 16, 63);
$lightRed: rgb(236,22,69);
$darkPurple: rgb(113,52,219);
$lightPurple: rgb(117,51,231);
$darkBlue: rgb(35,111,255);
$lightBlue: #3679f8;
$lightGrey: rgb(236, 236, 236);
$darkGrey: rgb(199, 198, 198);
$white: #ffffff;