@import '@styles/global.scss';

.technology {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px 0;
  .heading {
    font-size: 50px;
    margin-bottom: 80px;
    margin-left: 40px;
    font-family: 'Kaushan Script', cursive;
  }
  .icon {
    margin: 0 20px 40px;
    width: 60px;
    h3 {
      margin-bottom: 13px;
    }
  }

  .technology-icon-container {
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

    svg,
    i,
    img {
      font-size: 35px;
      width: 35px;
      height: 35px;
    }
    .bottom-row-icon {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 965px) {
    .icon {
      height: 60px;
      h3 {
        font-size: 14px;
        text-shadow: 1px 1px 1px rgb(47, 22, 90);
      }
    }
    .technology-icon-container {
      svg,
      i,
      img,
      #firebase {
        font-size: 30px;
        width: 30px;
        height: 30px;
      }
    }
  }

  @media (max-width: 550px) {
    .icon {
      height: 20px;
    }
    .technology-icon-container {
      svg,
      i,
      img,
      #firebase {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
