@import '@styles/variables.scss';

@mixin hover {
  color: $spacePurple;
  font-weight: 500;
  transition: 0.1s;
  background-color: $blue;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba($spacePurple, 0.6);
  border-left: 5px solid $pink;
  display: flex;
  align-items: center;
  z-index: 10;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  .sectionsList {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }

  .list-item {
    display: block;
    color: $white;
    padding: 15px;
    &:hover {
      @include hover;
    }
    &.active {
      @include hover;
    }
    &:active {
      color: $white;
    }
  }
}
