article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  margin: 0; }

h2 {
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  margin: 0; }

h3 {
  color: white;
  font-size: 16px;
  margin: 0; }

.section-general {
  height: 100vh;
  width: 100vw;
  position: relative; }

.section-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 82vh;
  width: 90vw;
  position: relative;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (max-width: 1300px) {
    .section-container {
      width: 85vw; } }
  @media (max-width: 950px) {
    .section-container {
      width: 82vw; } }
  @media (max-width: 650px) {
    .section-container {
      height: 100vh;
      width: 100vw; } }

.responsive-nav-container {
  display: none; }

.section-container nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100; }
  .section-container nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .section-container nav ul li {
      font-size: 14px;
      padding: 60px 10px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .section-container nav ul li:hover {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
      .section-container nav ul li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase; }

.nav-style-line {
  position: absolute;
  left: 30px;
  top: -9vh;
  height: 9vh;
  background: white;
  width: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  z-index: 20; }
  .social-media-container a {
    text-decoration: none;
    color: black; }

.twitter-container,
.linked-in-container,
.email-container {
  position: relative; }

.icon-circle {
  background-color: white;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  position: relative; }

.twitter-icon svg {
  padding: 5px 0 0 4px;
  font-size: 33px; }

.linked-in-icon svg {
  padding: 0px 0 0 7px;
  font-size: 35px; }

.email-icon svg {
  padding: 7px 0 0 6px;
  font-size: 30px; }

.git-icon svg {
  font-size: 40px; }
  @media (max-width: 650px) {
    .git-icon svg {
      font-size: 40px; } }

.git-icon:after {
  content: '';
  height: 37px;
  width: 37px;
  position: absolute;
  top: 12px;
  left: 1px;
  border-radius: 50%;
  z-index: -1; }
  @media (max-width: 750px) {
    .git-icon:after {
      height: 37px;
      width: 37px;
      top: 6px;
      left: 6px; } }

.git-hub-container,
.twitter-container,
.linked-in-container,
.email-container {
  margin: 10px 0; }

@media (max-width: 900px) {
  .section-container nav ul li {
    font-size: 12px;
    padding: 40px 10px; } }

@media (max-width: 800px) {
  .section-container nav {
    display: none; }
  .responsive-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    z-index: 100; }
    .responsive-nav-container .responsive-background {
      display: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.1);
      border-bottom: 2px solid white; }
  .responsive-nav {
    display: none;
    width: 100vw;
    text-shadow: 2px 2px 3px #000;
    z-index: 201; }
    .responsive-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 85vw; }
      .responsive-nav ul li {
        padding: 20px 0; }
        .responsive-nav ul li a {
          list-style: none;
          text-decoration: none;
          color: white; }
  .hamburger-menu {
    width: 10vw;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    z-index: 300;
    padding: 7px 0 0 0px;
    position: absolute;
    right: 5px; }
    .hamburger-menu .fa-bars {
      color: white;
      font-size: 40px; }
  .nav-style-line {
    display: none; }
  .social-media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: auto;
    -webkit-transform: none;
            transform: none;
    bottom: 5px; }
    .social-media-container .git-hub-container,
    .social-media-container .twitter-container,
    .social-media-container .linked-in-container,
    .social-media-container .email-container {
      margin: 5px; } }

.section-home {
  background-color: #e8103f; }
  .section-home .section-home-container {
    background-color: #ec1645;
    background-image: url(../../images/red-dot-graphics.png);
    -webkit-box-shadow: 15px 13px 45.5px 4.5px rgba(182, 9, 46, 0.23);
            box-shadow: 15px 13px 45.5px 4.5px rgba(182, 9, 46, 0.23); }
    @media (max-width: 650px) {
      .section-home .section-home-container {
        background-image: url(../../images/red-dot-graphics-copy.png);
        -webkit-box-shadow: none;
                box-shadow: none; } }
  .section-home .content-container {
    position: relative;
    width: 473px;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media (max-width: 650px) {
      .section-home .content-container {
        width: 370px; } }
    @media (max-width: 400px) {
      .section-home .content-container {
        width: 287px; } }
  .section-home h1 {
    text-shadow: 4px 12px 3px #af0429;
    margin: 0;
    position: absolute;
    top: 0;
    width: 473px; }
    @media (max-width: 650px) {
      .section-home h1 {
        font-size: 55px;
        width: 370px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
    @media (max-width: 400px) {
      .section-home h1 {
        font-size: 40px;
        width: 287px; } }
  .section-home h3 {
    text-transform: uppercase;
    text-shadow: 4px 5px 3px #af0429;
    position: absolute;
    top: 88px;
    left: 220px;
    width: 240px; }
    @media (max-width: 650px) {
      .section-home h3 {
        top: 80px;
        left: 110px; } }
    @media (max-width: 400px) {
      .section-home h3 {
        font-size: 14px;
        top: 65px;
        left: 63px; } }
  .section-home nav li {
    text-shadow: 3px 3px 3px #7a021c; }
  .section-home .twitter-icon svg,
  .section-home .linked-in-icon svg,
  .section-home .email-icon svg {
    color: #e8103f; }
  .section-home .git-icon svg {
    color: #ffffff; }
  .section-home .git-icon:after {
    background-color: #e8103f; }
  .section-home .git-icon svg:hover {
    color: #e8103f; }
  .section-home .git-icon:hover:after {
    background-color: #ffffff; }
  .section-home .twitter-icon svg:hover,
  .section-home .linked-in-icon svg:hover,
  .section-home .email-icon svg:hover {
    color: #ffffff; }
  .section-home .icon-circle:hover {
    background-color: #ec1645; }

.section-about {
  background-color: #ececec; }
  .section-about .section-about-container {
    -webkit-box-shadow: 15px 13px 45.5px 4.5px #cac8c8;
            box-shadow: 15px 13px 45.5px 4.5px #cac8c8;
    background-color: #ececec;
    background-image: url(../../images/dot-graphics-grey.png);
    padding: 0 25px 25px 0; }
  .section-about .section-container a {
    color: black; }
  .section-about .nav-style-line {
    background: black;
    left: 95px; }
  .section-about .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .section-about .content-container h2 {
      color: black;
      text-shadow: 3px 3px 3px #c7c6c6; }
  .section-about .headshot-container img {
    max-height: 85vh;
    position: relative;
    bottom: 3vh; }
  .section-about .text-container {
    position: relative;
    margin: 90px 0 0 50px; }
    .section-about .text-container p {
      line-height: 1.5; }
  @media (max-width: 900px) {
    .section-about .section-about-container p {
      font-size: 14px; } }
  @media (max-width: 800px) {
    .section-about .text-container {
      margin: 20px 0 0 50px; } }
  @media (max-width: 760px) {
    .section-about {
      height: 75vh; }
      .section-about .section-about-container {
        width: 100vw;
        height: 75vh;
        background-image: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        overflow: hidden; }
        .section-about .section-about-container nav {
          display: none; }
      .section-about .headshot-container img {
        max-height: none;
        max-width: 100vw;
        top: 0; }
      .section-about .text-container {
        display: none; }
      .section-about .social-media-container {
        display: none; } }

.section-responsive-about-text {
  display: none; }
  @media (max-width: 760px) {
    .section-responsive-about-text {
      display: block;
      position: relative;
      height: 75vh;
      padding: 20px;
      border-top: 3px solid white;
      background: #ececec;
      background-image: url(../../images/dot-graphics-grey-copy.png); }
      .section-responsive-about-text .wrapper {
        max-width: 500px;
        margin: 0 auto; }
      .section-responsive-about-text h2 {
        color: black;
        text-shadow: 3px 3px 3px #c7c6c6; }
      .section-responsive-about-text p {
        line-height: 1.5; } }
    @media (max-width: 760px) and (max-width: 400px) {
      .section-responsive-about-text p {
        font-size: 14px; } }
  @media (max-width: 760px) {
      .section-responsive-about-text .social-media-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-transform: none;
                transform: none;
        position: absolute;
        bottom: 10px; } }

.section-about .twitter-icon svg,
.section-about .linked-in-icon svg,
.section-about .email-icon svg,
.section-responsive-about-text .twitter-icon svg,
.section-responsive-about-text .linked-in-icon svg,
.section-responsive-about-text .email-icon svg {
  color: #ececec; }

.section-about .git-icon svg,
.section-responsive-about-text .git-icon svg {
  color: black; }

.section-about .icon-circle,
.section-responsive-about-text .icon-circle {
  background-color: black; }

.section-about .twitter-icon svg:hover,
.section-about .linked-in-icon svg:hover,
.section-about .email-icon svg:hover,
.section-responsive-about-text .twitter-icon svg:hover,
.section-responsive-about-text .linked-in-icon svg:hover,
.section-responsive-about-text .email-icon svg:hover {
  color: black; }

.section-about .icon-circle:hover,
.section-responsive-about-text .icon-circle:hover {
  background-color: #ececec; }

.section-about .git-icon:after,
.section-responsive-about-text .git-icon:after {
  background-color: #ececec; }

.section-about .git-icon svg:hover,
.section-responsive-about-text .git-icon svg:hover {
  color: #ececec; }

.section-about .git-icon:hover:after,
.section-responsive-about-text .git-icon:hover:after {
  background-color: black; }

.section-skills {
  background-color: #7134db; }
  .section-skills .section-skills-container {
    background-image: url(../../images/purple-dot-graphics.png);
    background-color: #7533e7;
    -webkit-box-shadow: 15px 13px 45.5px 4.5px rgba(68, 11, 166, 0.23);
            box-shadow: 15px 13px 45.5px 4.5px rgba(68, 11, 166, 0.23); }
  .section-skills h2 {
    text-shadow: 3px 3px 3px #2f165a;
    position: absolute;
    top: 5%;
    left: 5%; }
  .section-skills h3,
  .section-skills nav a {
    text-shadow: 3px 3px 3px #2f165a; }
  .section-skills .nav-style-line {
    left: 163px; }
  .section-skills .twitter-icon svg,
  .section-skills .linked-in-icon svg,
  .section-skills .email-icon svg {
    color: #7134db; }
  .section-skills .git-icon svg {
    color: white; }
  .section-skills .twitter-icon svg:hover,
  .section-skills .linked-in-icon svg:hover,
  .section-skills .email-icon svg:hover {
    color: #ffffff; }
  .section-skills .icon-circle:hover {
    background-color: #7134db; }
  .section-skills .git-icon:after {
    background-color: #7134db; }
  .section-skills .git-icon svg:hover {
    color: #7134db; }
  .section-skills .git-icon:hover:after {
    background-color: #ffffff; }
  .section-skills .skills-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    color: white;
    text-align: center; }
    .section-skills .skills-icon-container .skills-icon-top-row,
    .section-skills .skills-icon-container .skills-icon-bottom-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .section-skills .skills-icon-container .skills-icon-top-row {
      margin-bottom: 40px; }
    .section-skills .skills-icon-container svg,
    .section-skills .skills-icon-container i {
      font-size: 60px;
      margin: 0 30px; }
    .section-skills .skills-icon-container #firebase {
      width: 60px;
      height: 60px; }
    .section-skills .skills-icon-container .bottom-row-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  @media (max-width: 1400px) {
    .section-skills .skills-icon-container {
      display: block;
      top: 40%; }
      .section-skills .skills-icon-container .bottom-row-icon {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  @media (max-width: 700px) {
    .section-skills .section-skills-container {
      background-image: url(../../images/purple-dot-graphics-copy.png);
      -webkit-box-shadow: none;
              box-shadow: none; } }
  @media (max-width: 750px) {
    .section-skills h3 {
      font-size: 14px;
      text-shadow: 1px 1px 1px #2f165a; }
    .section-skills .skills-icon-container svg,
    .section-skills .skills-icon-container i {
      font-size: 60px;
      margin: 0 15px; }
    .section-skills .skills-icon-container #firebase {
      width: 60px;
      height: 60px; } }
  @media (max-width: 550px) {
    .section-skills .skills-icon-container svg,
    .section-skills .skills-icon-container i {
      font-size: 45px;
      margin: 0 13px; }
    .section-skills .skills-icon-container #firebase {
      width: 45px;
      height: 45px; } }

.section-portfolio {
  background-color: #fbca3d; }
  .section-portfolio .section-portfolio-container {
    -webkit-box-shadow: 15px 13px 45.5px 4.5px #d19b07;
            box-shadow: 15px 13px 45.5px 4.5px #d19b07;
    background-color: #fdd050;
    background-image: url(../../images/yellow-dot-graphics.png); }
    @media (max-width: 700px) {
      .section-portfolio .section-portfolio-container {
        background-image: url(../../images/yellow-dot-graphics-copy.png);
        -webkit-box-shadow: none;
                box-shadow: none; } }
  .section-portfolio .section-container nav a {
    color: #ffffff;
    text-shadow: 3px 3px 3px #d19b07; }
  .section-portfolio .nav-style-line {
    left: 247px; }
  .section-portfolio .twitter-icon svg,
  .section-portfolio .linked-in-icon svg,
  .section-portfolio .email-icon svg {
    color: #fbca3d; }
  .section-portfolio .git-icon svg {
    color: #ffffff; }
  .section-portfolio .icon-circle {
    background-color: #ffffff; }
  .section-portfolio .twitter-icon svg:hover,
  .section-portfolio .linked-in-icon svg:hover,
  .section-portfolio .email-icon svg:hover {
    color: #ffffff; }
  .section-portfolio .icon-circle:hover {
    background-color: #fbca3d; }
  .section-portfolio .git-icon:after {
    background-color: #fbca3d; }
  .section-portfolio .git-icon svg:hover {
    color: #fbca3d; }
  .section-portfolio .git-icon:hover:after {
    background-color: #ffffff; }
  .section-portfolio h2 {
    color: #ffffff;
    text-shadow: 3px 3px 3px #d19b07;
    position: absolute;
    top: 5%;
    left: 5%; }
  .section-portfolio .portfolio-container {
    max-width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .section-portfolio .portfolio-container-top-row,
  .section-portfolio .portfolio-container-bottom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .section-portfolio .portfolio-piece {
    margin: 5px 35px;
    position: relative; }
    .section-portfolio .portfolio-piece img {
      max-height: 190px;
      opacity: 0.7;
      filter: grayscale(100%) blur(1px);
      -webkit-filter: grayscale(100%) blur(1px);
      /* Safari 6.0 - 9.0 
            */
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      display: block; }
    .section-portfolio .portfolio-piece .mask-text,
    .section-portfolio .portfolio-piece .mask-text-title {
      color: white;
      text-shadow: 3px 3px 3px #857100;
      width: 150px;
      position: absolute;
      z-index: 10;
      text-align: center; }
    .section-portfolio .portfolio-piece .mask-text-title {
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      font-family: 'Kaushan Script', cursive;
      top: 20%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      font-size: 29px;
      width: 225px; }
    .section-portfolio .portfolio-piece .mask-text-top {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 40px; }
    .section-portfolio .portfolio-piece .mask-text-bottom-left {
      left: -5px;
      bottom: 20px; }
    .section-portfolio .portfolio-piece .mask-text-bottom-left:after {
      content: '';
      position: absolute;
      right: 31px;
      height: 15px;
      width: 2px;
      background-color: white; }
    .section-portfolio .portfolio-piece .mask-text-bottom-right {
      bottom: 20px;
      right: -5px; }
    .section-portfolio .portfolio-piece .mask-text-middle {
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .section-portfolio .portfolio-piece .mask-text-bottom-middle {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 20px; }
    .section-portfolio .portfolio-piece .portfolio-mask {
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background-color: #fbca3d;
      opacity: 0.9;
      -webkit-box-shadow: 18px 24px 30px 0px #d19b07;
              box-shadow: 18px 24px 30px 0px #d19b07;
      color: white;
      text-align: center;
      padding-top: 30%;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .section-portfolio .portfolio-piece .portfolio-mask p {
        opacity: 1; }
    .section-portfolio .portfolio-piece:hover > a > .portfolio-mask {
      -webkit-animation: fadeOut 0.3s linear;
              animation: fadeOut 0.3s linear;
      opacity: 0; }
    .section-portfolio .portfolio-piece:hover > img {
      -webkit-animation: color 0.3s linear;
              animation: color 0.3s linear;
      opacity: 1;
      filter: grayscale(0%) blur(0);
      -webkit-filter: grayscale(0%) blur(0);
      /* Safari 6.0 - 9.0 */
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
    .section-portfolio .portfolio-piece:hover > a > p {
      display: none; }

@-webkit-keyframes color {
  0% {
    -webkit-filter: grayscale(100%) blur(1px);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) blur(1px);
    opacity: 0.8; }
  100% {
    -webkit-filter: grayscale(0%) blur(0);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) blur(0);
    opacity: 1; } }

@keyframes color {
  0% {
    -webkit-filter: grayscale(100%) blur(1px);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) blur(1px);
    opacity: 0.8; }
  100% {
    -webkit-filter: grayscale(0%) blur(0);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) blur(0);
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6); } }

@keyframes fadeOut {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6); } }
  @media (max-width: 1370px) {
    .section-portfolio .portfolio-piece {
      margin: 5px 20px; }
      .section-portfolio .portfolio-piece img {
        max-height: 150px; }
      .section-portfolio .portfolio-piece .mask-text,
      .section-portfolio .portfolio-piece .mask-text-title {
        width: 130px; }
      .section-portfolio .portfolio-piece .mask-text {
        font-size: 14px; }
      .section-portfolio .portfolio-piece .mask-text-title {
        top: 10%;
        font-size: 22px;
        width: 170px; }
      .section-portfolio .portfolio-piece .mask-text-top {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 20px; }
      .section-portfolio .portfolio-piece .mask-text-bottom-left {
        left: -20px;
        bottom: 0px; }
      .section-portfolio .portfolio-piece .mask-text-bottom-left:after {
        content: '';
        position: absolute;
        right: 21px;
        height: 15px;
        width: 2px;
        background-color: white; }
      .section-portfolio .portfolio-piece .mask-text-bottom-right {
        bottom: 0px;
        right: -20px; }
      .section-portfolio .portfolio-piece .mask-text-middle {
        bottom: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .section-portfolio .portfolio-piece .mask-text-bottom-middle {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 0px; } }
  @media (max-width: 1100px) {
    .section-portfolio .portfolio-container {
      top: 30%; }
    .section-portfolio .portfolio-piece {
      margin: 0 35px 22px 35px; }
      .section-portfolio .portfolio-piece img {
        max-height: 140px; }
    .section-portfolio .portfolio-container-top-row,
    .section-portfolio .portfolio-container-bottom-row {
      display: block; } }
  @media (max-width: 750px) {
    .section-portfolio .portfolio-piece {
      margin: 0 25px 22px 25px; }
      .section-portfolio .portfolio-piece img {
        max-height: 120px; }
      .section-portfolio .portfolio-piece .mask-text,
      .section-portfolio .portfolio-piece .mask-text-title {
        width: 130px; }
      .section-portfolio .portfolio-piece .mask-text {
        font-size: 12px; }
      .section-portfolio .portfolio-piece .mask-text-title {
        font-size: 18px;
        width: 170px; }
      .section-portfolio .portfolio-piece .mask-text-bottom-left {
        left: -30px;
        bottom: 0px; }
      .section-portfolio .portfolio-piece .mask-text-bottom-left:after {
        content: '';
        position: absolute;
        right: 28px;
        height: 12px;
        width: 2px;
        background-color: white; }
      .section-portfolio .portfolio-piece .mask-text-bottom-right {
        bottom: 0px;
        right: -30px; } }
  @media (max-width: 570px) {
    .section-portfolio .portfolio-piece {
      margin: 0 15px 22px 15px; } }

.section-contact {
  background-color: #236fff; }
  .section-contact .section-contact-container {
    background-image: url(../../images/blue-dot-graphics.png);
    background-color: #3679f8;
    -webkit-box-shadow: 15px 13px 45.5px 4.5px rgba(11, 86, 228, 0.23);
            box-shadow: 15px 13px 45.5px 4.5px rgba(11, 86, 228, 0.23); }
  .section-contact nav li {
    text-shadow: 1px 1px 1px darkblue; }
  .section-contact nav .nav-style-line {
    left: 340px; }
  .section-contact .twitter-icon svg,
  .section-contact .linked-in-icon svg,
  .section-contact .email-icon svg {
    color: #236fff; }
  .section-contact .git-icon svg {
    color: white; }
  .section-contact .content-container {
    position: relative;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .section-contact .content-container h1 {
      text-shadow: 4px 12px 3px #0759f1;
      text-align: center; }
  .section-contact form {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center; }
    .section-contact form input[type=text],
    .section-contact form input[type=email],
    .section-contact form textarea,
    .section-contact form input[type=submit] {
      color: #ffffff;
      font-weight: normal;
      background-color: #0759f1;
      border: none;
      height: 43px;
      margin: 5px;
      padding-left: 15px;
      border-radius: none; }
    .section-contact form input[type=text],
    .section-contact form input[type=email],
    .section-contact form textarea {
      width: 500px; }
    .section-contact form input[type=text]::-webkit-input-placeholder,
    .section-contact form input[type=email]::-webkit-input-placeholder,
    .section-contact form textarea::-webkit-input-placeholder {
      color: white;
      opacity: 0.9; }
    .section-contact form input[type=text]:-ms-input-placeholder,
    .section-contact form input[type=email]:-ms-input-placeholder,
    .section-contact form textarea:-ms-input-placeholder {
      color: white;
      opacity: 0.9; }
    .section-contact form input[type=text]::-ms-input-placeholder,
    .section-contact form input[type=email]::-ms-input-placeholder,
    .section-contact form textarea::-ms-input-placeholder {
      color: white;
      opacity: 0.9; }
    .section-contact form input[type=text]::placeholder,
    .section-contact form input[type=email]::placeholder,
    .section-contact form textarea::placeholder {
      color: white;
      opacity: 0.9; }
    .section-contact form input[type=text]:focus,
    .section-contact form input[type=email]:focus,
    .section-contact form textarea:focus {
      border: 2px solid #ffffff; }
    .section-contact form textarea {
      width: 500px;
      height: 100px;
      padding-top: 13px;
      resize: none; }
    .section-contact form input[type=submit] {
      background-color: rgba(255, 255, 255, 0.9);
      color: #0759f1;
      padding: 0 25px;
      font-size: 18px;
      line-height: 1; }
      .section-contact form input[type=submit]:hover {
        background-color: #0759f1;
        color: #ffffff; }
    .section-contact form .form-bottom-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .section-contact .twitter-icon svg:hover,
  .section-contact .linked-in-icon svg:hover,
  .section-contact .email-icon svg:hover {
    color: #ffffff; }
  .section-contact .icon-circle:hover {
    background-color: #236fff; }
  .section-contact .git-icon:after {
    background-color: #236fff; }
  .section-contact .git-icon svg:hover {
    color: #236fff; }
  .section-contact .git-icon:hover:after {
    background-color: #ffffff; }
  .section-contact .footer-email-sent-paragraph {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 8px darkBlue; }
  @media (max-width: 1140px) {
    .section-contact form input[type=text],
    .section-contact form input[type=email],
    .section-contact form textarea {
      width: 450px; } }
  @media (max-width: 800px) {
    .section-contact .content-container {
      top: 8%; }
    .section-contact form {
      bottom: 2%; }
      .section-contact form textarea {
        height: 150px; } }
  @media (max-width: 650px) {
    .section-contact .section-contact-container {
      background-image: url(../../images/blue-dot-graphics-copy.png);
      -webkit-box-shadow: none;
              box-shadow: none; }
    .section-contact form {
      bottom: 80px; } }
  @media (max-width: 570px) {
    .section-contact form input[type=text],
    .section-contact form input[type=email],
    .section-contact form textarea {
      width: 350px; } }
