@import '@styles/variables.scss';

$textContainerPositionOffset: -5%;

.portfolio-piece {
  display: flex;
  margin-bottom: 110px;
  align-items: center;
  width: 100%;
  overflow: hidden;
  align-content: center;
  height: 100vh;
  &.textContainerLeft {
    .text-container {
      order: 1;
      right: $textContainerPositionOffset;
      z-index: 2;
      border-top: 7px solid $blue;
    }
    .website-name {
      color: $blue;
    }
    .image-container {
      order: 2;
    }
  }
  &.textContainerRight {
    .text-container {
      order: 2;
      left: $textContainerPositionOffset;
      z-index: 2;
      border-top: 7px solid $pink;
    }
    .website-name {
      color: $pink;
    }
    .image-container {
      order: 1;
    }
  }
  .text-container {
    width: 60%;
    background-color: $spacePurple;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 50px;
    position: relative;
  }
  .technology-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .technology {
      margin: 0 30px 20px 0;
      position: relative;
      font-size: 22px;
      letter-spacing: -1px;
      &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: -20px;
        height: 7px;
        width: 7px;
        color: $white;
        background-color: $white;
        border-radius: 50%;
      }
      &:last-of-type:after {
        display: none;
      }
    }
  }
  .website-name {
    color: $pink;
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    letter-spacing: -3px;
  }

  .website-description {
    margin-bottom: 40px;
  }

  .image-container {
    display: block;
    margin: 20px;
    position: relative;
    width: 55%;
    max-height: 450px;
    overflow: hidden;
    // height: 350px;
    img {
      width: 100%;
      // opacity: 0.75;
      // filter: grayscale(100%) blur(1px);
      // -webkit-filter: grayscale(100%) blur(1px); /* Safari 6.0 - 9.0
      // */
      // transition: all 0.3s;
    }
  }
}
