@import './typography.css';
@import './setup.css';

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  color: white;
  font-family: 'Kaushan Script', 'cursive';
  font-size: 70px;
  margin: 0;
}

h2 {
  color: white;
  font-family: 'Kaushan Script', 'cursive';
  font-size: 50px;
  margin: 0;
}

h3 {
  color: white;
  font-size: 16px;
  margin: 0;
}
