@use '@variables' as variables;
@use '@mixins' as mixins;

.navigation {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 105;

  ul {
    margin: 50px 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    li {
      font-size: 14px;
      padding: 10px 20px;
      transition: all 0.2s;
      &:hover {
        transition: all 0.2s;
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  @media (max-width: 800px) {
    animation: fadeIn 0.3s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: variables.$spacePurple;
    ul {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin: 0;
      li {
        margin: 0;
        transform: rotate(0deg);
        z-index: 201;
        font-size: 24px;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
  .nav-line {
    position: absolute;
    left: 20px;
    top: 0;
    height: 2px;
    width: 45px;
    background-color: variables.$white;
    transition: all 0.2s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
